.App {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo img{
    height:2em;
}

body{
    font-family: "Avenir Next", serif;
    font-weight: 500;
    background-color: #E04D4D22;
}

.btn i{
    transition: 0.2s;
}


.breadcrumb-div{
    --bs-breadcrumb-divider: '>';
}