.App {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo img{
    height:2em;
}

body{
    font-family: "Avenir Next", serif;
    font-weight: 500;
    background-color: #E04D4D22;
}

.btn i{
    transition: 0.2s;
}


.breadcrumb-div{
    --bs-breadcrumb-divider: '>';
}

.half-size{
    font-size: 0.8rem;
}

.quarter-size{
    font-size: 0.6rem;
}

.height-custom{
    max-height: 66vh;
    height: 66vh;
}

.height-custom-lg{
    max-height: 72vh;
    height: 72vh;
}

